@mixin fullWidth($wdthproperty, $floatproperty) {
  width: $wdthproperty;
  float: $floatproperty;
}

@mixin flex_btwn($dsp_flex, $space_btwn) {
  display: $dsp_flex;
  justify-content: $space_btwn;
}

@mixin flex_align_center($dsp_flex, $align_item) {
  display: $dsp_flex;
  align-items: $align_item;
  cursor: pointer;
}

@mixin d_flex($dsp_flex) {
  display: $dsp_flex;
}

@mixin screen-large() {
  @media only screen and (max-width: 1648px) {
    @content;
  }
}

@mixin screen-medium() {
  @media only screen and (max-width: 1098px) {
    @content;
  }
}

@mixin screen-small() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}