@import 'assets/scss/main.scss';

.vscol_1 {
  width: 286px;
  float: left;
  background: $white_background;
  height: 100vh;
  padding-left: 80px;
  padding-top: 26px;
  // position: fixed;
  // z-index: 100;
}

.vscol_img {
  width: 80%;

  img {
    width: 100%;
  }
}

.vs_cont {
  margin-top: 20px;

  img {
    margin-top: -36px;
    margin-bottom: -24px;
    width: 70%;
  }

  .explore_text {
    background: transparent linear-gradient(285deg, #03A9F4 0%, #7DF4D4 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 14px #0000001A;
    opacity: 1;
  }
}

.StepProgress {
  margin-top: 10px;
  position: relative;
  padding-left: 29px;
  list-style: none;
  padding-right: 10px;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 6px;
    left: 13px;
    width: 10px;
    height: 85% !important;
    border-left: 1px solid $place_holder;
  }

  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.StepProgress_item {
  position: relative;
  counter-increment: list;
  margin-bottom: 10px;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -19px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $place_holder;
  }

  p {
    margin-bottom: 10px;


    &:first-child {
      font-weight: 700;

    }
  }
}

@include screen-large {
  .vscol_1 {
    padding-left: 60px;
  }
}

@include screen-medium {
  .vscol_1 {
    padding-left: 40px;
  }
}

@include screen-small {
  .vscol_1 {
    padding-left: 20px;
  }
}