@import 'assets/scss/main.scss';

.banner_outer {
  background: white;
  padding-bottom: 18px;
  position: relative;
  height: 124px;
}

.banner_box {
  // padding: 20px 21px 45px 1px;
  padding: 20px 21px 18px 1px;
  overflow: hidden;
  overflow-x: scroll;
  // position: relative;

  ul {


    li {
      margin: 0 20px;
      position: relative;
    }
  }

  background: white;

  .item_group_box {
    display: flex;
    // width: 100%;
    // overflow: hidden;
    // overflow-x: scroll;


    &::-webkit-scrollbar {
      height: 0;
    }

    li:after {
      content: '';
      width: 0;
      height: 95%;
      position: absolute;
      border: 1px solid #DEE5EC;
      top: 0;
      right: -22px;
    }
  }

  .button_adjust {
    text-align: center;
    padding: 0px 10px;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item_banner_box {
    display: flex;

    .item_box {
      padding: 10px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DEE5EC;
      border-radius: 10px;
      opacity: 1;
      width: 162px;
      height: 58px;
    }

    .vs_button {
      width: 25px;
      height: 25px;
      background: #1770C8 0% 0% no-repeat padding-box;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 11px;
      font-weight: 700;
      border-radius: 100%;
    }

    .banner_image {
      // width: 20px;
      height: 38px;
      width: 40px;

      .image_size {
        width: auto;
        height: 100%;
      }
    }

    .banner_title {
      display: flex;

      .margin_description {
        margin-left: 15px;

        .brand_title {
          font-size: 12px;
          opacity: 0.7;
          letter-spacing: -0.16px;
        }

        .device_name {
          font-weight: 700;
          width: 100px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          letter-spacing: -0.28px;

        }
      }
    }

  }




}

.range_part {
  //text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  padding: 18px 0px;
  top: 83px;
  z-index: 999999;
  background: white;
  position: absolute;

  &:before {}

  .slider {
    -webkit-appearance: none;
    width: 154px;
    height: 10px;
    background: #DEE5EC 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 39px;
    height: 14px;
    background: #03A9F4 url(../../assets/images/icon-slider-arrows.svg) no-repeat padding-box;
    background-size: 10px 10px;
    background-position: center;
    box-shadow: 0px 1px 8px #00000029;
    border-radius: 50px;
    opacity: 1;
    cursor: pointer;
    color: white;
  }
}

// custom scroll bar part
.footer_page {
  position: relative;
  width: 100px;
  height: 200px;
}

.footer_content {
  width: 100%;
}

.footer_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #ddd;
}

.footer_page::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: calc(100% - 20px);
  top: 10px;
  right: -1px;
  width: 5px;
  background: #666;
}

.wrapper::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: red;
  border-right: none;
  border-left: none;
}

.wrapper::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

.wrapper::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

#vs_scroll::-webkit-scrollbar {
  display: none;
}