@import 'assets/scss/main.scss';

.brand_mark_part {

  padding: 67px 79px 67px 79px;
  background: white;

  .brand_mark_title {
    display: inline-block;
    width: 50%;

    h1 {
      font-weight: bolder;
      color: black; // font-size: $fnt78;
      font-size: 72px;
      letter-spacing: -2.56px;
      font-family: sans-serif;
    }

    .brand_mark_description {
      display: inline-block;
      width: 92%;
      font-size: 22px;
      border-left: 3px solid #03a9f4;
      padding-left: 17px;
      font-weight: 100;
      line-height: 1.3;
      letter-spacing: 0;
      color: #242B2ECC;

    }
  }


}