/*==========================================*/
/*===========START GENERAL CSS============*/
/*=========================================*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/ProximaNova-Regular.otf') format('opentype'),
    url('../font/ProximaNova-Regular.woff') format('woff'),
    url('../font/ProximaNova-Regular.ttf') format('truetype'),
    url('../font/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AntDesign;
  font-style: normal;
  font-weight: 400;
  src: url('../font/AntDesign.ttf') format('truetype')
}

@font-face {
  font-family: Ionicons;
  font-style: normal;
  font-weight: 400;
  src: url('../font/Ionicons.ttf') format('truetype')
}