@import 'assets/scss/main.scss';

.wrapper {
  @include fullWidth(100%, left);
  position: relative;
  overflow: hidden;
}
.header_wrapper {
  background: $white_background;
  position: fixed;
  z-index: 200;
}
.vs_box {
  display: flex;
}

.vs-lft.d_flex {
  display: flex;
  //height: auto;
}

/*=============== Start left panel vs==========*/

.leftpanel {  
  border-left: 1px solid $bg_light_grey;
  width: 190px;
  height: 250px;
  background-color: #fff;
  margin-top: 180px;
  position: fixed;
  .selectpanel {
    border-bottom: 2px solid #00a8ef;
    widows: 100%;
    padding-top: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #00a8ef;
    text-align: center;
  }
  .unselectpanel {
    widows: 100%;
    padding-top: 35px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  .click {
    cursor: pointer;
  }
}

/*=============== Start rightPanel ==========*/
.vs_main {
  // width: calc(100% - 20%);
  width: 100%;
  display: block;
  border-left: 1px solid $bg_light_grey;
  .vs-lft {
  width: 100%;
  //height: 632px;
  }
  margin-top: 180px;
  padding-left: 200px;
  align-items: center;
}

