.ui.search .prompt {
    border-radius: 5px;
    background-color: #e9eef2;
    border: 0px solid #f00;
    height: 40px;
    width: auto;
}
.ui.input>input:focus {
    background: #e9eef2;
}

.ui.input {
    width: 98%;
}
