@import 'assets/scss/main.scss';

.cstm_tooltip {
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid $dark_grey_rgba;
    left: -6px;
    position: absolute;
    top: 12px;
  }
}

.cstm_tooltip {
  background: $dark_grey_rgba;
  position: absolute;
  border-radius: 6px;
  top: -63px;
  left: 77px;
  right: -143px;
  width: 155px;
  z-index: 9;
  text-align: left;
  padding: 8px;
  display: none;

  p {
    font-size: $fnt12;
    margin-top: 0;
  }

  &.tag_tip {
    color: #fff;
  }
}

.tech-app {
  width: 100%;
  float: left;
  padding-left: 23px;

  p {
    font-size: $fnt24;
    font-weight: 600;
  }

  .app-box {
    display: flex;
    padding: 21px 0px;

    .apps {
      width: 114px;
      height: 114px;
      background: transparent linear-gradient(311deg,
          $gradnt_light_blue1 0%,
          $gradnt_light_blue2 100%) 0% 0% no-repeat padding-box;
      border-radius: 22px;
      margin-right: 17px;
      box-shadow: 0px 4px 14px $black_shadow_rgba;

      &.apps1 {
        background: transparent linear-gradient(127deg,
            $gradnt_dark_blue1 0%,
            $gradnt_dark_blue1 100%) 0% 0% no-repeat padding-box !important;
      }

      &.apps2 {
        background: transparent linear-gradient(134deg, $gradnt_orange1 0%, $gradnt_orange2 100%) 0% 0% no-repeat padding-box !important;
      }

      &.apps3 {
        background: transparent linear-gradient(311deg,
            $gradnt_light_blue1 0%,
            $gradnt_light_blue2 100%) 0% 0% no-repeat padding-box !important;
      }

      &.apps4 {
        background: transparent linear-gradient(324deg, $gradnt_green1 0%, $gradnt_green2 100%) 0% 0% no-repeat padding-box !important;
      }

      &.apps5 {
        background: transparent linear-gradient(134deg, $gradnt_pink1 0%, $gradnt_pink2 100%) 0% 0% no-repeat padding-box !important;
      }
    }
  }
}

.apps-cont {
  text-align: center;
  padding: 28px 0;
  position: relative;

  img {
    width: 35px;
    height: 35px;
  }

  p {
    font-size: $fnt12;
    color: #fff;
    margin-top: 6px;
  }

  &:hover {
    .cstm_tooltip {
      display: block;
      cursor: pointer;
    }
  }

  .cstm_tooltip {
    p {
      margin-top: 0;
    }
  }
}

.try_now {
  margin-top: 10px !important;
}

.cstm_tooltip {
  &.ces {
    width: 334px;
    right: -315px;
  }

  &.explore {
    width: 300px;
    right: -281px;
  }

  &.indiego {
    width: 247px;
    right: -233px;
  }
}