@import 'assets/scss/main.scss';

.iphn-table {
  background: $white_background;
  width: 100%;
}

.iphn-row {
  border-top: 2px solid #f9fafb;

  .iphn-hdg {
    width: 100%;
    padding: 15px 9px;
    color: $dark_grey;
    text-transform: uppercase;
    font-size: 13px;
    color: #03A9F4;
  }

  .iphn-col {
    width: 60%;
    float: left;
    padding: 15px 9px;
    font-size: 10px;

    &.padd_lft {
      padding-left: 23px;
      font-size: 13px;
    }
  }

  .col-grey {
    width: 40%;
    float: left;
    opacity: 0.7;
  }
}

.suggest_btn {
  text-align: center;
  color: #647688;
  border-radius: 50px;
  position: absolute;
  right: 14px;
  border: 1px solid #d7dde2;
  top: 15px;
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
  }

  .searchTerm {
    width: 75px;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 12px;
  }

  .close_size {
    width: 13px;
    height: 13px;
  }
}

.iphn-flex {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.iphnimg-col {
  margin-bottom: 21px;
  width: 25%;
  text-align: center;
}

.compare {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.iphnimg-col .custm_radio [type='radio']:checked+label:before,
.iphnimg-col .custm_radio [type='radio']:not(:checked)+label:before {
  left: 50%;
  top: 9px;
  margin-left: -9px;
}

.iphnimg-col .custm_radio [type='radio']:checked+label:after,
.iphnimg-col .custm_radio [type='radio']:not(:checked)+label:after {
  top: 12px;
  left: 50%;
  background: #dddfde;
  margin-left: -6px;
}

.iphnimg-col .custm_radio [type='radio']:checked+label,
.iphnimg-col .custm_radio [type='radio']:not(:checked)+label {
  padding-left: 0;
  padding-top: 32px;
}

.session_part {
  margin: 10px;

  .session_title {
    padding: 15px;
    border-bottom: 1px solid #eef2f6;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #03a9f4;

    &.active {
      color: #03a9f4;
    }
  }

  .attr_part {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eef2f6;
  }

  .attr_title {
    width: 40%;
    font-size: 12px;
    opacity: 0.7;
    flex: 2;
  }

  .attr_value {
    font-size: 14px;
    flex: 3;
  }
}