@import 'assets/scss/main.scss';

.pop_tecspec {
  width: 33%;
  background: $white_background;
  padding: 15px;
  display: flex;
  left: 80px;
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 4px 14px $black_shadow_rgba;
  margin-top: 40px;
  margin-bottom: 30px;
  /* bottom: 0; */
  float: left;
}
.close_pop {
  position: absolute;
  right: 14px;
  width: 21px;
  top: 12px;
  background: none;
  border: none;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.tec_icn {
  margin-right: 14px;
}
.tec_contnt {
  h4 {
    font-size: $fnt18;
    font-weight: bold;
    margin-bottom: 7px;
  }
  p {
    font-size: $fnt14;
  }
}
.try_now {
  margin-top: 10px !important;
  background: none;
  border: none;
}
